@media screen and (max-width: 768px) {
  .container {
    max-weight: 90%;
  }

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    margin: 24px auto;
    max-width: 95%;
  }

  .header-active,.header-main {
    display: none;
  }


  /* banner-section-responsive */
  

  .banner-section {
    flex-direction: column-reverse;
    align-items: center;
    text-align: ;
    gap: 30px;
    max-height: unset;
    margin: 40px auto;
    padding: 0 20px;
  }

  .banner-title {
    font-size: 1.5rem;
    max-width: 100%;
    font-weight: bold;
  }

  .banner-description {
    font-size: 0.875rem;
    max-width: 100%;
    font-weight: 400;
  }

  .banner-img {
    width: 100%;
  }

  .banner-imgs {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  /* our-plants-cards */

  .plants-section-description {
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
  }


  .our-plants-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
  }

  .our-plants-section {
    max-width: 95%;
    margin: 0 auto;
  }  

  .card-description {
    font-size: 1rem;
    font-weight: bold;
  }

  .plants-card {
    max-width: 100%;
    margin: 0 auto;
  }

  .card-button {
    padding: 10px 40px;
  }


  /* flower-plants-section */

  .trusted-badge {
    display: none;
  }

  .flower-plants-section {
    display: flex;
    flex-direction: column;
    max-width: 90%;
  }

  .flower-plants-title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .flower-plants-unodar-list {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 15px auto;
  }

  .plants-section-title {
    font-size: 1.5rem;
    font-weight: bold;
  }


  /* plants-section  */

  .plants-section-description {
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    max-width: 90%;
  }

  


  /* latest-deals-section */

  .latest-deals-section {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 92%;
    margin: 40px auto;
  }


  .latest-deal-card.large {
    height: 160px;
  }

  .latest-deals-content h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .latest-deal-content h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .latest-deals-content p {
    font-size: 1rem;
    font-weight: 600;
  }
  .latest-deal-content p {
    font-size: 1rem;
    font-weight: 600;
  }

  /* newsletter-section */

  .newsletter-section {
    display: flex;
    max-height: 270px;
    justify-content: center;
    align-items: center;
  }

  .newsletter-content h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }


  /* footer-section */

  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 15px;
  }

  .footer-logo-decription {
    font-size: 1rem;
    font-weight: 400;
    margin: 10px auto;
  }

  .link-icon  li a {
    margin-bottom: 20px;
  }

}


@media (max-width: 992px) {
  .our-plants-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .plants-card {
    width: 100%;
    max-width: 100%;
  }

  .card-button {
    padding: 10px 30px;
  }
}

/* Mobile: 1 column */
@media (max-width: 576px) {
  .our-plants-cards {
    grid-template-columns: 1fr;
    margin: 20px auto;
  }

  .plants-card {
    width: 80%;
    max-width: 80%;
  }

  .card-button {
    width: 100%;
    padding: 10px;
  }
}