
/*latest-deals-section Responsive */
@media (max-width: 768px) {
   body {
    margin: 2px auto;
   }

  .latest-deals-section {
    grid-template-columns: 1fr;
  }

  .latest-deals-card,
  .latest-deal.large {
    height: 200px;
  }

  .left-column {
    grid-template-rows: auto;
  }

  .latest-deal-card.large {
    height: 200px;
  }
}


/* Mobile Responsive */
@media screen and (max-width: 768px) {
  
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    margin: 16px auto;
    /* display: inline-block; */
    margin-bottom: 300px;
  }
  
  
  .header-active {
    display: none;
  }
  .header-main {
    display: none;
  }
  .header-logo{
    max-width: 60px;
  }

  .banner-section {
    flex-direction: column-reverse;
    display: flex;
    align-items: flex-end;
  }

  .our-plants-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 auto;
  }

  body {
    margin: 0 auto;
   }


   .flower-plants-section {
  display: flex;
  justify-content: space-between;
  
  gap: 80px;
  margin: 160px auto;
  flex-direction: column;
}

.trusted-badge {
    display: none;
}

  .latest-deals-section {
    grid-template-columns: 1fr;
  }

  .latest-deals-card,
  .latest-deal.large {
    height: 200px;
  }

  .left-column {
    grid-template-rows: auto;
  }

  .latest-deal-card.large {
    height: 200px;
  }

  .newsletter-form {
    height: 50px;
    width: 90%;
    margin: 0 auto;
  }

  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
    font-size: 15px;
  }

  .newsletter-form button {
    width: 110px;
  }

}